*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #82bfe8, #7c6187);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.todo_app {
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px ;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}  
.todo_header {
    display: flex;
    align-items: center;
    gap: 12px; /* space between img and h2 */
}

.todo_header img {
    width: 40px;
    height: auto;
    display: block;
}

.todo_header h2 {
    font-size: 24px;
    font-weight: 600;   
    margin-bottom: 0;
    color: #333;
}

.row{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background: #edeef0;
    border-radius: 30px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #c9665b;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 40px;
}

ul li {
    list-style: none;
    padding: 12px 8px 12px 40px;
    font-size: 17px;
    color: #555;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('images/Uncheck.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

ul li.checked {
    color: #555;
    text-decoration:line-through;
}

ul li.checked::before {
    background-image: url('images/Check.png');
}

ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #cbcbcd;
    border-radius: 0 10px 10px 0;
}